__pycache__/
*.pyc
.env
.venv/
mlruns/
*.db
*.egg-info/
.ruff_cache/
.mypy_cache/
.pytest_cache/


infra/terraform/.tfvars
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
*.log